@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  p::first-letter {
    text-transform: uppercase;
  }
  h1::first-letter {
    text-transform: uppercase;
  }
  h2::first-letter {
    text-transform: uppercase;
  }
  h3::first-letter {
    text-transform: uppercase;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
